<div class="container-fluid">    
 <a routerLink="/investors"><app-pagetitle title="Investors" [breadcrumbItems]="breadCrumbItems"></app-pagetitle></a> 
<div class="card">
<div class="card-body">
<ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav-pills nav-justified">
<li [ngbNavItem]="1">
<a ngbNavLink>
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">Investors Details</span>
</a>
<br>
<ng-template ngbNavContent>

<div class="row"  *ngFor="let item of temp">
<div class="col-md-3">
  <div class="card card-body">
<h6 class="text-center">Full Name</h6>
<p class="text-center">{{item.fullName}}</p>
</div>
</div>
</div>
</ng-template>
</li>
<li [ngbNavItem]="2">
<a ngbNavLink>
<span class="d-block d-sm-none"><i class="far fa-user"></i></span>
<span class="d-none d-sm-block">Login History</span>
</a>
<ng-template ngbNavContent>
  <div class="table-responsive">
    <table id="basic-datatable"
    class="table table-bordered dt-responsive text-nowrap datatables no-footer dtr-inline">
    <thead>
    <tr>
     <th>Login Time</th>
     <th>Latitude</th>
     <th>Longitude</th>
     <th>Logout</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of getuserList">
      <td>{{item._login_Time}}</td>
      <td>{{item.lat}}</td>
      <td>{{item.lang}}</td>
      <td>
        <label class="switch">
          <input *ngIf="item._is_Log_Outted_ == true" checked>
          <input *ngIf="item._is_Log_Outted_ == false" unchecked>
          <span class="slider"></span>
          </label>
        </td>
    </tr>
    </tbody>
    </table>
    </div>
</ng-template>
</li>
<!-- <li [ngbNavItem]="3">
<a ngbNavLink>
<span class="d-block d-sm-none"><i class="far fa-envelope"></i></span>
<span class="d-none d-sm-block">Login History</span>
</a>
<ng-template ngbNavContent>
</ng-template>
</li> -->
</ul>
<div [ngbNavOutlet]="justifiednav"></div>
</div>
</div>


</div>
