<div class="container-fluid">
<app-pagetitle title="Country Page" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
<div class="col-lg-12">
<div class="row">
<div class="col-md-2">
<div class="card">
<div class="card-body">
<ul ngbNav #verticalNav="ngbNav" [activeId]="1" class="nav-pills flex-column">
<li [ngbNavItem]="1">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">Add Country</span>
</a>
<ng-template ngbNavContent>
<app-countries></app-countries>
</ng-template>
</li>
<li [ngbNavItem]="2">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">Add City</span>
</a>
<ng-template ngbNavContent>
<app-cities></app-cities>
</ng-template>
</li>
</ul>
</div>
</div>
</div>
<div class="col-md-10">

<div [ngbNavOutlet]="verticalNav"></div>

</div>
</div>

</div><!-- End vertical nav tab -->

</div>
</div>