<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .panel-body {
            padding: 30px;
            background-color: #F3F3F3;
        }

        .card-body {
            padding: 0;
        }

        p {
            margin-bottom: 5px;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        .second_panel_body {
            padding: 10px 30px;
        }

        .bill_head {
            padding: 5px;
            background-color: #F3F3F3;
            font-size: 16px;
            margin-bottom: 20px;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .right {
            text-align: right;
        }

        .center {
            text-align: center;
        }

        tbody>tr {
            border: 1px solid #7f7f7f;
        }

        tbody>tr>td {
            border-left: 1px solid #7f7f7f;
            border-right: 1px solid #7f7f7f;
        }

        .table-responsive::-webkit-scrollbar {
            display: none;
        }

        .table-responsive {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        thead>tr {
            background-color: #F47549;
            color: #fff;
        }

        @media print {
            thead>tr {
            background-color: auto;
            color: #000;
        }
        thead>tr>th{
            border: 1px solid #7f7f7f;;
        }
        }
    </style>
</head>

<body>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body">
                        <div style="padding: 10px 0;background-color: #F47549;">
                        </div>
                        <div class="panel-body">
                            <div class="clearfix">
                                <div class="float-left">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="https://fikra.app/fikra_admin/assets/images/logo_colored.png"
                                                class="img-fluid">
                                        </div>
                                        <div class="col-md-9">
                                            <h6 style="margin-top: 20px;">Company Name</h6>
                                            <p>Address</p>
                                            <p>Contact Details</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right">
                                    <h4 style="color: #7f7f7f;font-size: 30px;margin-top: 25px;">INVOICE</h4>
                                    <p class="center"><strong>{{invoDate | date}}</strong></p>
                                    <p class="center"><strong>Invoice No. {{invoNo}}</strong></p>
                                </div>
                            </div>
                        </div>

                        <div class="second_panel_body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="float-right mt-3">
                                        <p>Payment terms (due on receipt, due in {{dueDays}} days)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 mt-3">
                                    <h6 class="bill_head">BILL TO</h6>
                                    <p>Name : {{billName}}</p>
                                    <!-- <p>Client Company Name</p> -->
                                    <p>Address : {{addressOne}}, {{addressTwo}}</p>
                                    <p>City : {{city}}</p>
                                    <p>State : {{state}} - {{pin}}</p>
                                    <p>Phone : {{phone}}</p>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-5 mt-3">
                                    <h6 class="bill_head">SHIP TO</h6>
                                    <p>Name : {{billName}}</p>
                                    <!-- <p>Client Company Name</p> -->
                                    <p>Address : {{addressOne}}, {{addressTwo}}</p>
                                    <p>City : {{city}}</p>
                                    <p>State : {{state}} - {{pin}}</p>
                                    <p>Phone : {{phone}}</p>
                                </div>
                            </div>
                            <!-- end row -->
                            <br><br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr style=" background-color: #F47549 !important;">
                                                    <th>#</th>
                                                    <th>DESCRIPTION</th>
                                                    <th class="center">QTY</th>
                                                    <th class="center">UNIT PRICE</th>
                                                    <th class="center">TOTAL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of billIncludes;let i = index">
                                                    <td>{{i + 1}}</td>
                                                    <td>{{item.description}}</td>
                                                    <td class="center">{{item.quantity}}</td>
                                                    <td class="center">{{item.unitPrice}}</td>
                                                    <td class="right">{{item.total}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-6">
                                    <div class="clearfix mt-4">
                                        <h5 class="small text-dark">Remarks / Payment Instructions:</h5>
                                        <small>
                                            All accounts are to be paid within 7 days from receipt of
                                            invoice. To be paid by cheque or credit card or direct payment
                                            online. If account is not paid within 7 days the credits details
                                            supplied as confirmation of work undertaken will be charged the
                                            agreed quoted fee noted above.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-6 offset-xl-4">
                                    <div class="row">
                                        <div class="col-md-8 col-8">
                                            <p class="text-right"><b>SUBTOTAL : </b></p>
                                            <p class="text-right"><b>PROCESSING FEES : </b></p>
                                            <p class="text-right"><b>VAT RATE : </b></p>
                                            <p class="text-right"><b>PAYMENT MODEL FEES : </b></p>
                                            <p class="text-right"><b>DISCOUNT :</b></p>
                                            <p class="text-right"><b>GRAND TOTAL :</b></p>
                                            <!-- <p class="text-right"><b>SHIPPING/HANDLING :</b></p> -->
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <p class="text-right"><b>{{dueAmt}}</b></p>
                                            <p class="text-right"><b>{{processFeeAmt}}</b></p>
                                            <p class="text-right"><b>{{vatAmt}}</b></p>
                                            <p class="text-right"><b>{{paymentAmt}}</b></p>
                                            <p class="text-right"><b>{{discount}}</b></p>
                                            <p class="text-right"><b>{{totAmt}}</b></p>
                                            <!-- <p class="text-right"><b>0.00</b></p> -->
                                        </div>
                                    </div>

                                    <hr>
                                    <h3 class="text-right">SAR {{totAmt}}</h3>
                                </div>
                            </div>
                            <br>
                            <div style="padding: 10px 0;background-color: #F47549;">
                            </div>
                            <br>
                            <div class="d-print-none">
                                <div class="float-right" *ngIf="showAccept === true">
                                    <a href="javascript:window.print()" class="btn btn-dark waves-effect waves-light"><i
                                            class="fa fa-print"></i></a>&nbsp;&nbsp;
                                      <span *ngIf="userSend == false">    
                                    <a href="#" class="btn btn-primary waves-effect waves-light" (click)="billSendSubmit(billingId)">Submit</a>
                                </span>  
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->


    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</body>

</html>