<div class="card">
<div class="card-body">
<form [formGroup]="bannerLeftCont" (ngSubmit)="bannerCont()">
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Heading Name (EN)</label>
<input type="text" class="form-control" formControlName="headName">
</div>
<div class="form-group">
<label>Banner Left Side Content (EN)</label>
<textarea class="form-control" formControlName="bannerLeftContents"></textarea>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>Heading Name (AR)</label>
<input type="text" class="form-control" formControlName="headName_ar">
</div>
<div class="form-group">
<label>Banner Left Side Content (AR)</label>
<textarea class="form-control" formControlName="bannerLeftContents_ar"></textarea>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label>Button Name(EN)</label>
<input type="text" class="form-control" formControlName="buttonName">
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label>Button Name (AR)</label>
<input type="text" class="form-control" formControlName="buttonName_ar">
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label>Button URL</label>
<input type="text" class="form-control" formControlName="buttonURL">
</div>
</div>
<div class="col-md-12">
<p class="text-center" *ngIf="showAccept === true"><button class="btn btn-primary w-md waves-effect waves-light ban_con_btn">Save</button></p>
</div>
</div>
</form>
</div>
</div>
<!-- <div class="card">
<div class="card-body">
<h5 class="text-center">Banner Images</h5>
<p class="text-right"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addBannner(centerDataModal)">Add New</button></p>
<ng-template #centerDataModal let-modal>
<div class="modal-header">
<h5 class="modal-title mt-0">Upload Banner Image</h5>
<button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
</div>
<div class="modal-body">
<form [formGroup]="addBannerImg">
<div class="form-group">
<label>Image Name</label>
<input type="text" class="form-control" formControlName="imageName">
</div>
<div class="img_upload">
<label for="customFile">
<img class="upload-img" *ngIf="!imagePreview"  src="assets/images/upload_img.png"/>
<img class="upload-img" *ngIf="imagePreview" src="{{imagePreview}}"/>
</label>
<input formControlName="bannerImage" type="file" class="custom-file-input" id="customFile" (change)="uploadImageFile($event)">
</div>
<div class="form-group">
<label>Image ALT text</label>
<input type="text" class="form-control" formControlName="imageAlt">
</div>
<br>
<p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="bannerImgUpload()">Save</button></p>
</form>
</div>
</ng-template>

<div class="table-responsive">
<table id="basic-datatable"
class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
<thead>
<tr>
<th>Image Name</th>
<th>Image</th>
<th>ALT tag</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of bannerImage">
<td>{{item.imageName}}</td>
<td><p class="text-center"><img src="{{item.imageUrl}}" class="img_size"></p></td>
<td>{{item.imageAlt}}</td>
<td>
<label class="switch">
<input *ngIf="item._isImageOn_ == true"  type="checkbox" checked (change)="onchangeImageStatus($event,item._id)">
<input *ngIf="item._isImageOn_ !== true" type="checkbox" unchecked (change)="onchangeImageStatus($event,item._id)">
<span class="slider"></span>
</label>
</td>
<td>
<a class="mr-3 text-info" ngbTooltip="Edit" (click)="viewBanner(item,centerDataModal)"><i
class="mdi mdi-pencil font-size-18"></i></a>
<a class="text-danger" ngbTooltip="Delete"><i
class="mdi mdi-trash-can font-size-18"></i></a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div> -->