<div class="card">
<div class="card-body">
<p class="text-right" *ngIf="showAccept === true">
<button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addCreators(creatorCorner)">Add New</button></p>
<!-- Center Modal -->
<ng-template #creatorCorner let-modal>
<div class="modal-header">
<button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
</div>
<div class="modal-body">
<form [formGroup]="addCreatorData">
<div class="img_upload">
<label for="customFile">
<img class="upload-img1" *ngIf="!imagePreview"  src="assets/images/upload_img.png"/>
<img class="upload-img1" *ngIf="imagePreview" src="{{imagePreview}}"/>
</label>
<input formControlName="blogImage" type="file" class="custom-file-input" id="customFile" (change)="uploadImageFile($event)">
</div>
<div class="form-group">
<label>Heading(EN)</label>
<input type="text" class="form-control" formControlName="headName">
</div>
<div class="form-group">
    <label>Heading(AR)</label>
    <input type="text" class="form-control" formControlName="headName_ar">
    </div>
<div class="form-group">
<label>Description(EN)</label>
<textarea class="form-control" formControlName="discription"></textarea>
</div>
<div class="form-group">
    <label>Description(AR)</label>
<textarea class="form-control" formControlName="discription_ar"></textarea>
    </div>
<div class="form-group">
<label>Link</label>
<input type="text" class="form-control" formControlName="blogLink">
</div>
<br>
<p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="onSubmit()">Save</button></p>
</form>
</div>
</ng-template>

<div class="table-responsive">
<table id="basic-datatable"
class="table table-bordered dt-responsive nowrap no-footer dtr-inline">
<thead>
<tr>
<th>Image</th>
<th>Heading(EN)</th>
<th>Heading(AR)</th>
<th>Description(EN)</th>
<th>Description(AR)</th>
<th>Link</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr  *ngFor="let item of createCornerData |slice: (page-1) * 10 : (page-1) * 10 + 10">
<td><img src="{{item.blogImage}}" class="img_size"></td>
<td>{{item.headName}}</td>
<td>{{item.headName_ar}}</td>
<td>{{item.discription}}</td>
<td>{{item.discription_ar}}</td>
<td>{{item.blogLink}}</td>
<td>
    <label class="switch">
        <input *ngIf="item._isVisible_ == true"  type="checkbox" checked (change)="onchangeBlogStatus($event,item._id)">
        <input *ngIf="item._isVisible_ !== true" type="checkbox" unchecked (change)="onchangeBlogStatus($event,item._id)">
        <span class="slider"></span>
    </label>
</td>
<td>
    <a class="mr-3 text-info" ngbTooltip="Edit" (click)="viewCreatorContent(item,creatorCorner)"><i
        class="mdi mdi-pencil font-size-18"></i></a>
    <a href="javascript:void(0);" class="text-danger" ngbTooltip="Delete" (click)="onDeleteCornerStatus(true,item._id,item._isVisible_)"><i
        class="mdi mdi-trash-can font-size-18"></i></a>
</td>
</tr>
<tr *ngIf="(createCornerData==null) || (createCornerData.length == 0)">
    <td class="text-center" colspan="8">
       No Data Found
    </td>
</tr>
</tbody>
</table>
 <!-- Pagination -->
 <div class="col-sm-12 col-md-12">
    <div class="text-md-right float-md-right pagination-rounded">
        <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="10">
        </ngb-pagination>
    </div>
</div>
<!-- End Pagination -->
</div>
</div>
</div>