<div class="container-fluid">
    <app-pagetitle title="Field Edit" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    
    <div class="card">
        <div class="card-body">
          <ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav-pills nav-justified">
            <li [ngbNavItem]="1">
              <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block">Investors Form</span>
              </a>
              <ng-template ngbNavContent>
                  <app-investor-field></app-investor-field>
              </ng-template>
            </li>
            <!-- <li [ngbNavItem]="2">
              <a ngbNavLink>
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block">Creators Request Form</span>
              </a>
              <ng-template ngbNavContent>
                <app-creator-field></app-creator-field>
              </ng-template>
            </li> -->
          </ul>
          <div [ngbNavOutlet]="justifiednav"></div>
        </div>
      </div>

  
    </div>
    