<div class="container-fluid">
    <app-pagetitle title="Requests" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    
    <div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-body">
    <div class="row mb-md-2">
    <!-- <div class="col-sm-12 col-md-2">
    <div class="dataTables_length" id="tickets-table_length"><label
    class="d-inline-flex align-items-center">Show
    <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
    [(ngModel)]="pageSize"
    class="custom-select custom-select-sm form-control form-control-sm mx-2">
    <option [ngValue]="10">10</option>
    <option [ngValue]="25">25</option>
    <option [ngValue]="50">50</option>
    <option [ngValue]="100">100</option>
    </select> entries</label></div>
    </div> -->
    <div class="col-sm-12 col-md-6">
        <div class="form-group row">
            <label for="example-date-input" class="col-md-2 col-form-label text-center">Start Date</label>
            <div class="col-md-4">
              <input class="form-control" type="date" value="2019-08-19" id="example-date-input">
            </div>
            <label for="example-date-input1" class="col-md-2 col-form-label text-center">End Date</label>
            <div class="col-md-4">
              <input class="form-control" type="date" value="2019-08-19" id="example-date-input1">
            </div>
          </div>
    </div>
    <!-- Search -->
    <div class="col-sm-12 col-md-4">
    <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
    class="d-inline-flex align-items-center">Search:
    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
    aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
    </div>
    <!-- End search -->
    </div>
    <!-- Table -->
    <div class="table-responsive">
    <table id="basic-datatable"
    class="table table-bordered dt-responsive text-nowrap datatables no-footer dtr-inline">
    <thead>
    <tr>
      <th>Full Name</th>
      <th>Display Name</th>
      <th>Email Id</th>
      <th>Business Name</th>
      <th>Admin Approval</th>
      <th>Business Exist</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of getReqList  | filter:searchTerm">
      <td><a routerLink="/view-requests/{{ user._id}}">{{user.fullName}}</a></td>
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.businessName}}</td>
      <td>
        <select class="pend_btn" *ngIf="user._is_admin_arroved_Creator === false" >
          <option>Pending</option>
          <option value="true">Approved</option>
       </select>
       <select class="apprve_btn" *ngIf="user._is_admin_arroved_Creator === true">
        <option>Approved</option>
        <option value="false">Pending</option>
     </select>
    </td>
      <td>
        <span *ngIf="user._is_businuss_exist_ === true" class="approve_btn">Verified</span>
        <span *ngIf="user._is_businuss_exist_ === false" class="not_verify_btn">Not Verified</span>
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    <!-- End table -->
    <div class="row justify-content-md-between align-items-md-center mt-2">
    <!-- <div class="col-sm-12 col-md-5">
    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
    {{startIndex}} to
    {{endIndex}} of {{totalRecords}}
    entries
    </div>
    </div> -->
    <!-- Pagination -->
    <div class="col-sm-12 col-md-5">
    <div class="text-md-right float-md-right pagination-rounded">
    <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination> -->
    </div>
    </div>
    <!-- End Pagination -->
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    