<div class="container-fluid">
    <app-pagetitle title="Creators" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="row" *ngIf="approveAccept == true && showAccept !== true" style="padding-bottom: 20px;">
        <div class="col-md-6" *ngIf="approveAccept == true">
            <div class="text-center">
                <p>Click here to check the SuperAdmin Resonse</p>
                <button class="btn btn-primary" (click)="showAdminResponse(responModel)">View</button>
                <ng-template #responModel let-modal>
                    <div class="modal-header">
                        <button type="button" class="close" (click)="modal.dismiss('Cross click')"
                            aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="basic-datatable"
                                class="table table-bordered dt-responsive text-nowrap no-footer dtr-inline">
                                <thead>
                                    <tr>
                                        <th>Approve Status</th>
                                       <th>Proceed to Write</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of respnseData">
                                <td>
                                    <span *ngIf="list._admin_Responce_Status == false || list._is_Rejected_ == false ">Under Process</span>
                                    <span *ngIf="list._admin_Responce_Status == true">Approved</span>
                                    <span *ngIf="list._is_Rejected_ == true">Rejected</span>
                                </td>
                                <td *ngIf="list._admin_Responce_Status == true">
                                    <button class="btn btn-primary" (click)="proceedSubmit(list._id)">Proceed</button>
                                </td>                               
                            </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <p>If you need a write permission for this page send a Request to SuperAdmin</p>
                <button class="btn btn-primary" (click)="reqAdmin(adminReqModel)">Request</button>
                <ng-template #adminReqModel let-modal>
                    <div class="modal-header">
                        <button type="button" class="close" (click)="modal.dismiss('Cross click')"
                            aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="changeDesc">
                            <div class="form-group">
                                <label>Comments</label>
                                <textarea class="form-control" formControlName="changesDescription"></textarea>
                            </div>
                            <br>
                            <p class="text-center"><button type="button"
                                    class="btn btn-primary w-md waves-effect waves-light"
                                    (click)="onReqSubmit()">Save</button></p>
                        </form>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-md-2">
                        <!-- <div class="col-sm-12 col-md-2">
<div class="dataTables_length" id="tickets-table_length"><label
class="d-inline-flex align-items-center">Show
<select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
[(ngModel)]="pageSize"
class="custom-select custom-select-sm form-control form-control-sm mx-2">
<option [ngValue]="10">10</option>
<option [ngValue]="25">25</option>
<option [ngValue]="50">50</option>
<option [ngValue]="100">100</option>
</select> entries</label></div>
</div> -->
                        <div class="col-sm-12 col-md-6">
                            <!-- <div class="form-group row">
        <label for="example-date-input" class="col-md-2 col-form-label text-center">Start Date</label>
        <div class="col-md-4">
            <input class="form-control" type="date" value="2019-08-19" id="example-date-input">
        </div>
        <label for="example-date-input1" class="col-md-2 col-form-label text-center">End Date</label>
        <div class="col-md-4">
            <input class="form-control" type="date" value="2019-08-19" id="example-date-input1">
        </div>
        </div> -->
                        </div>
                        <!-- Search -->
                        <div class="col-sm-12 col-md-4">
                            <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                                    class="d-inline-flex align-items-center">Search:
                                    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                                        aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
                        </div>
                        <!-- End search -->
                    </div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table id="basic-datatable"
                            class="table table-bordered dt-responsive text-nowrap no-footer dtr-inline">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Display Name</th>
                                    <th>Email Id</th>
                                    <th>Mobile Number</th>
                                    <th>Creative Independent Status</th>
                                    <th>Bank Verification Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of getCreateList  | filter:searchTerm">
                                    <td><a routerLink="/view-creators/{{ user._id}}">{{user.fullName}}</a></td>
                                    <td>{{user.userName}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.mobileNumber}}</td>
                                    <td>
                                        <label class="switch" *ngIf="showAccept == true">
                                            <input *ngIf="user._is_On_Creative_In_ == true" type="checkbox" checked
                                                (change)="onCretiveIndependentStatus($event,user._id)">
                                            <input *ngIf="user._is_On_Creative_In_ !== true" type="checkbox" unchecked
                                                (change)="onCretiveIndependentStatus($event,user._id)">
                                            <span class="slider"></span>
                                        </label>
                                        <span *ngIf="showAccept !== true">
                                            <p *ngIf="user._is_On_Creative_In_ == true">ON</p>
                                            <p *ngIf="user._is_On_Creative_In_ !== true">OFF</p>
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            <p *ngIf="user._is_Bank_Account_Verifyed_ == true">Verified</p>
                                            <p *ngIf="user._is_Bank_Account_Verifyed_ !== true">Not Verified</p>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- End table -->
                    <div class="row justify-content-md-between align-items-md-center mt-2">
                        <!-- <div class="col-sm-12 col-md-5">
<div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
{{startIndex}} to
{{endIndex}} of {{totalRecords}}
entries
</div>
</div> -->
                        <!-- Pagination -->
                        <div class="col-sm-12 col-md-5">
                            <div class="text-md-right float-md-right pagination-rounded">
                                <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="page" [pageSize]="pageSize">
</ngb-pagination> -->
                            </div>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>