<div class="container-fluid">
    <app-pagetitle title="Creators" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-10">
                            <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                                class="d-inline-flex align-items-center">Search:
                                <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                                aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
                        </div>
                        <div class="col-md-2">
                            <p class="text-right"> <button type="button" class="btn btn-primary w-md waves-effect waves-light"
                                (click)="exportList();">Download Email Id's</button></p>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="basic-datatable"
                            class="table table-bordered dt-responsive text-nowrap no-footer dtr-inline">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Display Name</th>
                                    <th>Email Id</th>
                                    <th>Mobile Number</th>
                                    <th>Creative Independent Status</th>
                                    <th>Bank Verification Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of getCreateList  | filter:searchTerm |slice: (page-1) * 10 : (page-1) * 10 + 10">
                                    <td><a routerLink="/view-creators/{{ user._id}}">{{user.fullName}}</a></td>
                                    <td>{{user.userName}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.mobileNumber}}</td>
                                    <td>
                                        <label class="switch" *ngIf="requestWrite == true">
                                            <input *ngIf="user._is_On_Creative_In_ == true" type="checkbox" checked
                                                (change)="onApproveIndependentStatus($event,user._id)">
                                            <input *ngIf="user._is_On_Creative_In_ !== true" type="checkbox" unchecked
                                                (change)="onApproveIndependentStatus($event,user._id)">
                                            <span class="slider"></span>
                                        </label>
                                        <label class="switch" *ngIf="majorWrite == true">
                                            <input *ngIf="user._is_On_Creative_In_ == true" type="checkbox" checked
                                                (change)="onCretiveIndependentStatus($event,user._id)">
                                            <input *ngIf="user._is_On_Creative_In_ !== true" type="checkbox" unchecked
                                                (change)="onCretiveIndependentStatus($event,user._id)">
                                            <span class="slider"></span>
                                        </label>
                                        <span *ngIf="majorWrite == false">
                                            <p *ngIf="user._is_On_Creative_In_ == true">ON</p>
                                            <p *ngIf="user._is_On_Creative_In_ !== true">OFF</p>
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            <p *ngIf="user._is_Bank_Account_Verifyed_ == true">Verified</p>
                                            <p *ngIf="user._is_Bank_Account_Verifyed_ !== true">Not Verified</p>
                                        </span>
                                    </td>
                                </tr>
                                <tr *ngIf="(getCreateList==null) || (getCreateList.length == 0)">
                                    <td class="text-center" colspan="6">
                                       No Data Found
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                         <!-- Pagination -->
    <div class="col-sm-12 col-md-12">
        <div class="text-md-right float-md-right pagination-rounded">
            <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="10">
            </ngb-pagination>
        </div>
    </div>
    <!-- End Pagination -->
                    </div>
                    <!-- End table -->
                </div>
            </div>
 