<div class="card">
<div class="card-body">
    <div class="section_show">
        <ul class="sec_show_ul">
            <li class="text">Section Shows in Website</li>
            <li *ngIf="showAccept === true">
                <label class="switch">
                    <input *ngIf="questionStatus == true"  type="checkbox" checked (change)="onchangeQuesStatus($event)">
                    <input *ngIf="questionStatus !== true" type="checkbox" unchecked (change)="onchangeQuesStatus($event)">
                    <span class="slider"></span>
                </label>
            </li>
            <li *ngIf="showAccept !== true">
               <span>
                   <p *ngIf="questionStatus == true">ON</p>
                   <p *ngIf="questionStatus !== true">OFF</p>
               </span>
            </li>
        </ul>
    </div>
    <hr>
<form [formGroup]="projectTitle">
<div class="row">
<div class="col-md-6">
<div class="form-group">
    <label>Project Title (EN)</label>
<textarea class="form-control" formControlName="headName"></textarea>
</div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label>Project Title (AR)</label>
    <textarea class="form-control" formControlName="headNameAr"></textarea>
    </div>
    </div>
</div>
<br>
<p class="text-center" *ngIf="showAccept === true"><button class="btn btn-primary w-md waves-effect waves-light" (click)="projTitleSubmit()">Save</button></p>
</form>
</div>
</div>
<div class="card">
<div class="card-body">
<div class="row">
    <div class="col-md-8">
        <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
            class="d-inline-flex align-items-center">Search:
            <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
            aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
    </div>
    <div class="col-md-4">
        <p class="text-right" *ngIf="showAccept === true"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addQuesAndAns(addQuesAns)">Add New</button></p>
        <!-- Center Modal -->
        <ng-template #addQuesAns let-modal>
        <div class="modal-header">
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
        <form [formGroup]="addQues">
        <div class="form-group">
        <label>Project Question (EN)</label>
        <textarea class="form-control" formControlName="question"></textarea>
        </div>
        <div class="form-group">
            <label>Project Question (AR)</label>
            <textarea class="form-control" formControlName="questionAr"></textarea>
            </div>
        <div class="form-group">
        <label>Project Answer (EN)</label>
        <textarea class="form-control" formControlName="answer"></textarea>
        </div>
        <div class="form-group">
            <label>Project Answer (AR)</label>
            <textarea class="form-control" formControlName="answerAr"></textarea>
            </div>
        <br>
        <p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addQuesSubmit()">Save</button></p>    
        </form>
        </div>
        </ng-template>
    </div>
</div>
<div class="table-responsive">
<table id="basic-datatable"
class="table table-bordered dt-responsive nowrap no-footer dtr-inline">
<thead>
<tr>
<th>Question(EN)</th>
<th>Question(AR)</th>
<th>Answer(EN)</th>
<th>Answer(AR)</th>
<th>Status</th>
<th *ngIf="showAccept === true">Action</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of quesAndAnsList | filter:searchTerm |slice: (page-1) * 10 : (page-1) * 10 + 10">
<td>{{item.question}}</td>
<td>{{item.questionAr}}</td>
<td>{{item.answer}}</td>
<td>{{item.answerAr}}</td>
<td *ngIf="showAccept === true">
    <label class="switch">
        <input *ngIf="item._is_on_ == true"  type="checkbox" checked (change)="onchangeQuesAnsStatus($event,item._id,item._is_Deleted_)">
        <input *ngIf="item._is_on_ == false" type="checkbox" unchecked (change)="onchangeQuesAnsStatus($event,item._id,item._is_Deleted_)">
        <span class="slider"></span>
    </label>    
</td>
<td *ngIf="showAccept !== true">
<span>
    <p *ngIf="item._is_on_ == true" >ON</p>
    <p *ngIf="item._is_on_ == false" >OFF</p>
</span>
</td>
<td *ngIf="showAccept === true">
    <a class="mr-3 text-info" ngbTooltip="Edit" (click)="viewQuesandAns(item,addQuesAns)"><i
        class="mdi mdi-pencil font-size-18"></i></a>
    <a class="text-danger text-info" ngbTooltip="Delete" (click)="onDeleteQuesAndAnsStatus(true,item._id,item._is_on_)"><i
        class="mdi mdi-trash-can font-size-18"></i></a>
</td>
</tr>
<tr *ngIf="(quesAndAnsList==null) || (quesAndAnsList.length == 0)">
    <td class="text-center" colspan="6">
       No Data Found
    </td>
</tr>
</tbody>
</table>
  <!-- Pagination -->
  <div class="col-sm-12 col-md-12">
    <div class="text-md-right float-md-right pagination-rounded">
        <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="10">
        </ngb-pagination>
    </div>
</div>
<!-- End Pagination -->
</div>
</div>
</div>