<div class="container-fluid">
    <app-pagetitle title="Help Guide" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="row">
    <div class="col-lg-12">
    <div class="row">
    <div class="col-md-2">
    <div class="card">
    <div class="card-body">
    <ul ngbNav #verticalNav="ngbNav" [activeId]="1" class="nav-pills flex-column">
    <li [ngbNavItem]="1">
    <a ngbNavLink class="mb-2">
    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
    <span class="d-none d-sm-block">Title</span>
    </a>
    <ng-template ngbNavContent>
        <div class="card">
            <div class="card-body">
            <p class="text-right" ><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addTitle(helpTilteModal)">Add New</button></p>
            <ng-template #helpTilteModal let-modal>
            <div class="modal-header">
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
            <form [formGroup]="addNewTitle">
            <div class="form-group">
            <label>Help Guide Title(EN)</label>
            <input type="text" class="form-control" formControlName="title">
            </div>
            <br>
            <p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addTitleSubmit()">Save</button></p>
            </form>
            </div>
            </ng-template>
            <div class="table-responsive">
            <table id="basic-datatable"
            class="table table-bordered dt-responsive nowrap no-footer dtr-inline">
            <thead>
            <tr>
            <th>Title(EN)</th>
            <th>Tilte(AR)</th>
            <th>Status</th>
            <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of titleList">
            <td>{{item.title}}</td>
            <td></td>
            <td>
            <label class="switch">
                <input *ngIf="item._is_On_ === true"  type="checkbox" checked (change)="onchangeTitleStatus($event,item._id)">
                <input *ngIf="item._is_On_ === false" type="checkbox" unchecked (change)="onchangeTitleStatus($event,item._id)">
            <span class="slider"></span>
            </label>    
            </td>
            <td>
            <a class="mr-3 text-info" ngbTooltip="Edit" (click)="viewTitle(item,helpTilteModal)"><i
            class="mdi mdi-pencil font-size-18"></i></a>
            <a class="text-danger text-info" ngbTooltip="Delete" (click)="deleteTitle(item._id)"><i
            class="mdi mdi-trash-can font-size-18"></i></a>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
            </div>
            </div>
    </ng-template>
    </li>
    <li [ngbNavItem]="2">
    <a ngbNavLink class="mb-2">
    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
    <span class="d-none d-sm-block">Questions & Answers</span>
    </a>
    <ng-template ngbNavContent>
        <div class="card">
            <div class="card-body">
            <p class="text-right" ><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addQuesAns(quesAnsModal)">Add New</button></p>
            <ng-template #quesAnsModal let-modal>
            <div class="modal-header">
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
            <form [formGroup]="addNewQuesAns">
                <div class="form-group">
                    <label>Tilte</label>
                    <select class="form-control" formControlName="ebookId">
                    <option  *ngFor="let item of titleList" value="{{item._id}}">{{item.title}}</option>
                    </select>
                    </div>
            <div class="form-group">
            <label>Question(EN)</label>
            <input type="text" class="form-control" formControlName="question">
            </div>
            <div class="form-group">
                <label>Answer(EN)</label>
                <textarea class="form-control" formControlName="answer"></textarea>
                </div>
            <br>
            <p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addQuesAnsSubmit()">Save</button></p>
            </form>
            </div>
            </ng-template>
            <div class="table-responsive">
            <table id="basic-datatable"
            class="table table-bordered dt-responsive nowrap no-footer dtr-inline">
            <thead>
            <tr>
            <th>Title</th>
            <th>Question(EN)</th>
            <th>Question(AR)</th>
            <th>Answer(EN)</th>
            <th>Answer(AR)</th>
            <th>Status</th>
            <th>Action</th>
            </tr>
            </thead>
            <tbody *ngFor="let item of titleList">
            <tr *ngFor="let ques of item.question">
            <td>{{item.title}}</td>
            <td>{{ques.question}}</td>
            <td></td>
            <td>{{ques.answer}}</td>
            <td></td>
            <td>
            <label class="switch">
                <input *ngIf="ques._is_On_ === true"  type="checkbox" checked (change)="onchangeQuesAnsStatus($event,item._id,ques._id)">
                <input *ngIf="ques._is_On_ === false" type="checkbox" unchecked (change)="onchangeQuesAnsStatus($event,item._id,ques._id)">
            <span class="slider"></span>
            </label>    
            </td>
            <td>
            <a class="mr-3 text-info" ngbTooltip="Edit" (click)="viewQuesAns(item,ques,quesAnsModal)"><i
            class="mdi mdi-pencil font-size-18"></i></a>
            <a class="text-danger text-info" ngbTooltip="Delete" (click)="deleteQuesAns(item._id,ques._id)"><i
            class="mdi mdi-trash-can font-size-18"></i></a>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
            </div>
            </div>
    </ng-template>
    </li>
    
    </ul>
    </div>
    </div>
    </div>
    <div class="col-md-10">
    
    <div [ngbNavOutlet]="verticalNav"></div>
    
    </div>
    </div>
    
    </div><!-- End vertical nav tab -->
    
    </div>
    </div>