<div class="card">
<div class="card-body">
<div class="section_show">
    <ul class="sec_show_ul">
        <li class="text">Section Shows in Website</li>
        <li>
            <label class="switch">
                <input *ngIf="middleStatus == true"  type="checkbox" checked (change)="onchangeMiddleStatus($event)">
                <input *ngIf="middleStatus !== true" type="checkbox" unchecked (change)="onchangeMiddleStatus($event)">
                <span class="slider"></span>
            </label>
        </li>
    </ul>
</div>
<hr>
<form [formGroup]="addMiddleCont">
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Middle Head (EN)</label>
<input type="text" class="form-control" formControlName="middleHead">
</div>
<div class="form-group">
    <label>Middle Description (EN)</label>
    <textarea class="form-control" formControlName="middileContend"></textarea>
</div>

</div>
<div class="col-md-6">
    <div class="form-group">
        <label>Middle Head (AR)</label>
        <input type="text" class="form-control" formControlName="middleHeadAr">
        </div>
        <div class="form-group">
            <label>Middle Description (AR)</label>
            <textarea class="form-control" formControlName="middileContendAr"></textarea>
        </div>
</div>
</div>
<br>
<p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="onMiddleUpdate()">Save</button></p>
</form>
</div>
</div>