<div class="container-fluid">    
    <a routerLink="/creators"><app-pagetitle title="Creators" [breadcrumbItems]="breadCrumbItems"></app-pagetitle></a> 
    <div class="card">
    <div class="card-body">
    <ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav-pills nav-justified">
    <li [ngbNavItem]="1">
    <a ngbNavLink>
    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
    <span class="d-none d-sm-block">Creator Details</span>
    </a>
    <br>
    <ng-template ngbNavContent>
    
    <div class="row">
    <div class="col-md-3" *ngFor="let item of pasDel">
    <div class="card card-body">
    <h6 class="text-center">{{ item.fieldName }}</h6>
    <p class="text-center">{{ getCreatorList[item.fieldId] }}</p>
    <p *ngIf ="item.fieldId == 'uploadRegistrationCertificate'" class="text-center"><a href="{{ getCreatorList[item.fieldId] }}">Download</a></p>
    <p *ngIf ="item.fieldId == 'tradingLicense'" class="text-center"><a href="{{ getCreatorList[item.fieldId] }}">Download</a></p>
    <p *ngIf ="item.fieldId == 'certificateUpload'" class="text-center"><a href="{{ getCreatorList[item.fieldId] }}">Download</a></p>
    <p *ngIf ="item.fieldId == 'profileImage'" class="text-center"><a href="{{ getCreatorList[item.fieldId] }}">Download</a></p>
    </div>
    </div>
    </div>
    </ng-template>
    </li>
    </ul>
    <div [ngbNavOutlet]="justifiednav"></div>
    </div>
    </div>
    
    
    </div>
    