<div class="card">
    <div class="card-body">
        <form [formGroup]="rulesMiddleContent">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Heading(EN)</label>
                        <input type="text" class="form-control" formControlName="Header">
                    </div>
                    <div class="form-group">
                        <label>Description(EN)</label>
                        <textarea class="form-control" formControlName="Description"></textarea>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Heading(AR)</label>
                        <input type="text" class="form-control" formControlName="Header_Ar">
                    </div>
                    <div class="form-group">
                        <label>Description(AR)</label>
                        <textarea class="form-control" formControlName="Description_Ar"></textarea>
                        </div>
                </div>
            </div>
            <br>
            <p *ngIf="showAccept === true" class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light"
                    (click)="onSubmit()">Save</button></p>
        </form>
    </div>
</div>