<div class="card">
    <div class="card-body">
        <form [formGroup]="addRequestContent">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tab Name(EN)</label>
                        <input type="text" class="form-control" formControlName="tabName">
                    </div>
                    <div class="form-group">
                        <label>Tab Heading(EN)</label>
                        <input type="text" class="form-control" formControlName="tabHead">
                    </div>
                    <div class="form-group">
                        <label>Description(EN)</label>
                        <textarea class="form-control" formControlName="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Messae(EN)</label>
                        <input type="text" class="form-control" formControlName="message">
                    </div>
                    <div class="form-group">
                        <label>Rules(EN)</label>
                        <textarea class="form-control" formControlName="rules"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tab Name(AR)</label>
                        <input type="text" class="form-control" formControlName="tabName_Ar">
                    </div>
                    <div class="form-group">
                        <label>Tab Heading(AR)</label>
                        <input type="text" class="form-control" formControlName="tabHead_Ar">
                    </div>
                    <div class="form-group">
                        <label>Description(AR)</label>
                        <textarea class="form-control" formControlName="description_Ar"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Message(AR)</label>
                        <input type="text" class="form-control" formControlName="message_Ar">
                    </div>
                    <div class="form-group">
                        <label>Rules(AR)</label>
                        <textarea class="form-control" formControlName="rules_Ar"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light"
                    (click)="onSubmit()">Save</button></p>
        </form>
    </div>
</div>