<div class="card">
    <div class="card-body">
    <div class="row">
        <div class="col-md-9">
            <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
        </div>
        <div class="col-md-3">
            <p class="text-right" *ngIf="showAccept === true"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addJobs(creatorCorner)">Add New</button></p>
            <!-- Center Modal -->
            <ng-template #creatorCorner let-modal>
            <div class="modal-header">
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
            <form [formGroup]="addJobData">
            <div class="form-group">
            <label>Job Title (EN)</label>
            <input type="text" class="form-control" formControlName="jobTitle">
            </div>
            <div class="form-group">
                <label>Job Title (AR)</label>
                <input type="text" class="form-control" formControlName="jobTitleAr">
                </div>
            <div class="form-group">
                <label>Job Description (EN)</label>
                <ckeditor [editor]="Editor" formControlName="jobDescription" (ready)="onReady($event)"></ckeditor>
            </div>
            <div class="form-group">
                <label>Job Description (AR)</label>
                <ckeditor [editor]="Editor" formControlName="jobDescriptionAr" (ready)="onReady($event)"></ckeditor>
            </div>
            <div class="form-group">
            <label>Job criteria (EN)</label>
            <ckeditor [editor]="Editor" formControlName="criteria" (ready)="onReady($event)"></ckeditor>
            </div>
            <div class="form-group">
                <label>Job criteria (AR)</label>
                <ckeditor [editor]="Editor" formControlName="criteriaAr" (ready)="onReady($event)"></ckeditor>
                </div>
            <div class="form-group">
                <label>Job Role (EN)</label>
            <input type="text" class="form-control" formControlName="jobRole">
                </div>
                <div class="form-group">
                    <label>Job Role (AR)</label>
                <input type="text" class="form-control" formControlName="jobRoleAr">
                    </div>
                <div class="form-group">
                    <label>Job Openings</label>
                    <input type="text" class="form-control" formControlName="jobVacancies">
                </div>
                <!-- <div class="form-group">
                    <label>Job Location</label>
                    <select class="form-control" formControlName="location">
                    <option  *ngFor="let item of branchList" value="{{item._id}}">{{item.branchName}}</option>
                    </select>
                    </div> -->
            <br>
            <p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="onSubmit()">Save</button></p>
            </form>
            </div>
            </ng-template>
        </div>
    </div>
    <div class="table-responsive">
    <table id="basic-datatable"
    class="table table-bordered dt-responsive nowrap no-footer dtr-inline">
    <thead>
    <tr>
    <th>Job Title(EN)</th>
    <th>Job Title(AR)</th>
    <th>Job Description(EN)</th>
    <th>Job Description(AR)</th>
    <th>criteria(EN)</th>
    <th>criteria(AR)</th>
    <th>Role(EN)</th>
    <th>Role(AR)</th>
    <th>Vacancies</th>
    <!-- <th>Location</th> -->
    <th>Status</th>
    <th *ngIf="showAccept === true">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of jobData | filter:searchTerm |slice: (page-1) * 10 : (page-1) * 10 + 10">
    <td>{{item.jobTitle}}</td>
    <td>{{item.jobTitleAr}}</td>
    <td [innerHtml]='item.jobDescription'></td>
    <td [innerHtml]='item.jobDescriptionAr'></td>
    <td [innerHtml]='item.criteria'></td>
    <td [innerHtml]='item.criteriaAr'></td>
    <td>{{item.jobRole}}</td>
    <td>{{item.jobRoleAr}}</td>
    <td>{{item.jobVacancies}}</td>
    <!-- <td>{{item.location.branchName}}</td> -->
    <td *ngIf="showAccept === true">
        <label class="switch">
            <input *ngIf="item._is_On_ == true"  type="checkbox" checked (change)="onchangeJobStatus($event,item._id)">
            <input *ngIf="item._is_On_ !== true" type="checkbox" unchecked (change)="onchangeJobStatus($event,item._id)">
            <span class="slider"></span>
        </label>
    </td>
    <td *ngIf="showAccept !== true">
     <span>
         <p *ngIf="item._is_On_ == true">ON</p>
         <p *ngIf="item._is_On_ !== true">OFF</p>
     </span>
    </td>
    
    <td *ngIf="showAccept === true">
        <a  class="mr-3 text-info" ngbTooltip="Edit" (click)="viewJobs(item,creatorCorner)"><i
            class="mdi mdi-pencil font-size-18"></i></a>  
        <a class="text-danger text-info" ngbTooltip="Delete" (click)="onDeleteJobStatus(true,item._id)"><i
                class="mdi mdi-trash-can font-size-18"></i></a>     
    </td>
    </tr>
    <tr *ngIf="(jobData==null) || (jobData.length == 0)">
        <td class="text-center" colspan="8">
           No Data Found
        </td>
    </tr>
    </tbody>
    </table>
    <!-- Pagination -->
    <div class="col-sm-12 col-md-12">
        <div class="text-md-right float-md-right pagination-rounded">
            <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="10">
            </ngb-pagination>
        </div>
    </div>
    <!-- End Pagination -->
    </div>
    </div>
    </div>