<!-- <div class="home-btn d-none d-sm-block">
  <a routerLink=""><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div> -->
<div>
  <div class="container-fluid p-0" style="background-color: #fff;">
    <div class="row no-gutters">
      <div class="col-lg-2">
        <img src="assets/images/left_design.svg" class="img-fluid left_image">
      </div>
      <div class="col-lg-5">
        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
          <div class="w-100">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div>
                  <div class="text-center">
                    <h2 class="font-size-30 mt-4">Login</h2>
                  </div>

                  <div class="p-2 mt-5">
                    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                        <label for="email">Email</label>
                        <input type="email" formControlName="adminName" (keydown)="changeText()" class="form-control" id="email" placeholder="email@email.com" />
                        <p *ngIf="!loginForm.controls.adminName.valid && submitted" class="text_error">Please enter a valid email id</p>
                      </div>

                      <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                        <label for="password">Password</label>
                        <input [type]="showPassword ? 'text' : 'password'" formControlName="password"  (keydown)="changeText()" class="form-control" placeholder="******" id="password" />
                        <i alt="show" class="mdi mdi-eye-outline eye_symbol" (click)="showPassword = !showPassword"
                        [class.hide]="showPassword"></i>
                        
                        <i alt="hide" class="mdi mdi-eye-off-outline eye_symbol" (click)="showPassword = !showPassword"
                        [class.hide]="!showPassword"></i>
                        <p *ngIf="!loginForm.controls.password.valid && submitted" class="text_error">Please enter a  valid password</p>
                      </div>

                      <p class="text-center text_error pv10" *ngIf = "isShow"><span>{{errorMessge}}</span></p>

                      <div class="mt-4 text-center">
                        <p *ngIf = "isShow">
                          <button class="btn btn-primary w-md waves-effect waves-light" (click)=openModal(logoutModalOpen)>LOG OUT OF ALL SESSIONS</button>
                        </p>
                        <p *ngIf = "!isShow">
                      <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                      </p>
                      </div>
                    </form>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-4">
        <div class="authentication-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #logoutModalOpen let-modal>
  <div class="modal-header">
    <h5 style="margin: 0;">Log out of all sessions</h5>
  <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
  <form [formGroup]="logOutForm">
    <div class="form-group auth-form-group-custom mb-4">
      <i class="ri-user-2-line auti-custom-input-icon"></i>
      <label for="email">Email</label>
      <input type="email" formControlName="adminName" (keydown)="changeText()" class="form-control" id="email" placeholder="email@email.com" />
      <p *ngIf="!logOutForm.controls.adminName.valid && submitted" class="text_error">Please enter a valid email id</p>
    </div>
    <div class="form-group auth-form-group-custom mb-4">
      <i class="ri-lock-2-line auti-custom-input-icon"></i>
      <label for="password">Password</label>
      <input [type]="showModalPassword ? 'text' : 'password'" formControlName="password"  (keydown)="changeText()" class="form-control" placeholder="******" id="password" />
      <i alt="show" class="mdi mdi-eye-outline eye_symbol" (click)="showModalPassword = !showModalPassword"
      [class.hide]="showModalPassword"></i>
      
      <i alt="hide" class="mdi mdi-eye-off-outline eye_symbol" (click)="showModalPassword = !showModalPassword"
      [class.hide]="!showModalPassword"></i>
      <p *ngIf="!logOutForm.controls.password.valid && submitted" class="text_error">Please enter a  valid password</p>
    </div>
      <div>
          </div>
  <br>
  <p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" type="submit" (click)="onLogoutSubmit()">LOG OUT </button></p>
  </form>
  </div>
  </ng-template>
<!-- end page -->
