<div class="card">
    <div class="card-body">
    <label>Banner Left Side Content</label>
    <form [formGroup]="bannerLeftCont" (ngSubmit)="bannerCont()">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Title (EN)</label>
                <input type="text" class="form-control" formControlName="banTitleEn">
            </div>
            <div class="form-group">
                <label>Description (EN)</label>
                <input type="text" class="form-control" formControlName="banDescriptionEn">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Title (AR)</label>
                <input type="text" class="form-control" formControlName="banTitleAr">
            </div>
            <div class="form-group">
                <label>Description (AR)</label>
                <input type="text" class="form-control" formControlName="banDescriptionAr">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Button Name (EN)</label>
                <input type="text" class="form-control" formControlName="buttonNameEN">
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                <label>Button Name (AR)</label>
                <input type="text" class="form-control" formControlName="buttonNameAr">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Button Link</label>
                <input type="text" class="form-control" formControlName="buttonLink">
            </div>

        </div>
    </div>
    </form>
    <br>
    <p class="text-center"><button class="btn btn-primary w-md waves-effect waves-light">Save</button></p>
    </div>
    </div>