<div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-body">
    <div class="form-group">
        <p class="text-right"><a routerLink="/add-investor-field" class="btn btn-primary w-md waves-effect waves-light">Add New</a></p>
    </div>
    <!-- <div class="row mb-md-2">
    <div class="col-sm-12 col-md-8">
    <div class="dataTables_length" id="tickets-table_length"><label
    class="d-inline-flex align-items-center">Show
    <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
    [(ngModel)]="pageSize"
    class="custom-select custom-select-sm form-control  form-control-sm mx-2">
    <option [ngValue]="10">10</option>
    <option [ngValue]="25">25</option>
    <option [ngValue]="50">50</option>
    <option [ngValue]="100">100</option>
    </select> entries</label></div>
    </div>
    Search
    <div class="col-sm-12 col-md-4">
    <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
    class="d-inline-flex align-items-center">Search:
    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
    aria-controls="tickets-table"></label></div>
    </div>
    End search
    </div> -->
    <!-- Table -->
    <div class="table-responsive">
    
    <table id="basic-datatable"
    class="table table-bordered dt-responsive text-nowrap  no-footer dtr-inline">
    <thead> 
    <tr>
        <th>Label(EN)</th>
        <th>Label(AR)</th>
        <th>Input Type</th>
        <th>Placeholder(EN)</th>
        <th>Placeholder(AR)</th>
        <th>Form ControlName</th>
        <th>Value</th>
        <th>Required</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of getfieldData;">
    <td>{{item.fieldName}}</td>
    <td>{{item.fieldName_Ar}}</td>
    <td *ngIf = "item.fieldType !== 'select'">{{item.fieldType}}
        <span></span>
    </td>
    <td  *ngIf = "item.fieldType == 'select'">{{item.fieldType}}
        <tr *ngFor="let items of item.dropDown;let ii = index">
            <span>options - {{items.displayName}} (value - {{items.value}})<br>
                options - {{items.displayName_Ar}}</span>
                <hr style="margin: 5px 0;">
        </tr>
    </td>
    <td>{{item.placeholder}}</td>
    <td>{{item.placeholder_Ar}}</td>
    <td>{{item.fieldId}}</td>
    <td>{{item.defauldValue}}</td>
    <td>
        <span *ngIf="item._is_Mandatory_ == true">Yes</span>
        <span *ngIf="item._is_Mandatory_ == false">No</span>
    </td>
    <td>
        <a routerLink="/edit-investor-field/{{ item._id}}" class="mr-3 text-info" ngbTooltip="Edit" (click)="clickField(item)"><i
            class="mdi mdi-pencil font-size-18"></i></a>  
        <!-- <a class="text-danger text-info" ngbTooltip="Delete" (click)="onDeleteFaqStatus(true,item._id,item._is_visible_)"><i
                class="mdi mdi-trash-can font-size-18"></i></a>  -->
    </td>
    
    </tr>
    </tbody>
    </table>
    </div>
    <!-- End table -->
    <div class="row justify-content-md-between align-items-md-center mt-2">
    <!-- <div class="col-sm-12 col-md-5">
    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
    {{startIndex}} to
    {{endIndex}} of {{totalRecords}}
    entries
    </div>
    </div> -->
    <!-- Pagination -->
    <div class="col-sm-12 col-md-5">
    <div class="text-md-right float-md-right pagination-rounded">
    <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination> -->
    </div>
    </div>
    <!-- End Pagination -->
    </div>
    </div>
    </div>
    </div>
    </div>