<div class="card">
    <div class="card-body">

    <div class="row">
        <div class="col-md-8">
            <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
        </div>
        <div class="col-md-4">
            <p class="text-right" *ngIf="showAccept === true"><a routerLink="/add_handbook" class="btn btn-primary w-md waves-effect waves-light">Add New</a></p>
        </div>
    </div>
    <div class="table-responsive">
    <table id="basic-datatable"
    class="table table-bordered dt-responsive nowrap  no-footer dtr-inline">
    <thead>
    <tr>
    <th>Image</th>
    <th>Heading(EN)</th>
    <th>Heading(AR)</th>
    <th>Description(EN)</th>
    <th>Description(AR)</th>
    <th>Status</th>
    <th *ngIf="showAccept === true">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of handBookData | filter:searchTerm |slice: (page-1) * 10 : (page-1) * 10 + 10">
    <td><img src="{{item.handbookImg}}" class="img_size"></td>
    <td>{{item.handBookHead}}</td>
    <td>{{item.handBookHeadAr}}</td>
    <td [innerHtml]='item.handBookBody'></td>
    <td [innerHtml]='item.handBookBodyAr'></td>
    <td *ngIf="showAccept === true">
        <label class="switch">
            <input *ngIf="item._is_Visible_ == true"  type="checkbox" checked (change)="onchangeHandbookStatus($event,item._id)">
            <input *ngIf="item._is_Visible_ !== true" type="checkbox" unchecked (change)="onchangeHandbookStatus($event,item._id)">
            <span class="slider"></span>
        </label>
    </td>
    <td *ngIf="showAccept !== true">
     <span>
         <p *ngIf="item._is_Visible_ == true" >ON</p>
         <p *ngIf="item._is_Visible_ !== true" >OFF</p>
     </span>
    </td>
    <td *ngIf="showAccept === true">
        <a routerLink="/edit_handbook/{{item._id}}" class="mr-3 text-info" ngbTooltip="Edit"><i
            class="mdi mdi-pencil font-size-18"></i></a>
            <a class="text-danger" ngbTooltip="Delete" (click)="onDeleteHandbook(item._id)"><i
            class="mdi mdi-trash-can font-size-18"></i></a>
    </td>
    </tr>
    <tr *ngIf="(handBookData==null) || (handBookData.length == 0)">
        <td class="text-center" colspan="7">
           No Data Found
        </td>
    </tr>
    </tbody>
    </table>
     <!-- Pagination -->
     <div class="col-sm-12 col-md-12">
        <div class="text-md-right float-md-right pagination-rounded">
            <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="10">
            </ngb-pagination>
        </div>
    </div>
    <!-- End Pagination -->
    </div>
    </div>
    </div>