<div class="container-fluid">
    <app-pagetitle title="Roles" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="card card-body">
        <div class="row">
            <div class="col-md-12">
                <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                    class="d-inline-flex align-items-center">Search:
                    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="basic-datatable" class="table table-bordered dt-responsive nowrap no-footer dtr-inline">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>SideHeader Name</th>
                        <th>Field Name</th>
                        <th>Value From</th>
                        <th>Value To</th>
                        <th>Admin Approve Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of reqData | filter:searchTerm |slice: (page-1) * 10 : (page-1) * 10 + 10">
                        <td>{{item.adminUserId.systemAdminName}}</td>
                        <td>{{item.tabName}}</td>
                        <td>{{item.feildName}}</td>
                        <td>{{item.valueFrom}}</td>
                        <td>{{item.valueTo}}</td>
                        <td>
                            <span *ngIf="item._is_Admin_Approved_ == false && item._is_Admin_Rejected_ == false "><a style="padding-right: 10px;"><button
                                    class="btn btn-success w-md waves-effect waves-light" (click)="onChangeReqStatus(item,'approved')">Approve</button></a>
                            <a> <button class="btn btn-primary w-md waves-effect waves-light" (click)="onChangeReqStatus(item,'rejected')">
                                    Reject</button></a></span>
                            <span *ngIf="item._is_Admin_Approved_ == true">Approved</span>
                            <span *ngIf="item._is_Admin_Rejected_ == true">Rejected</span>
                        </td>
                    </tr>
                    <tr *ngIf="(reqData==null) || (reqData.length == 0)">
                        <td class="text-center" colspan="6">
                           No Data Found
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Pagination -->
    <div class="col-sm-12 col-md-12">
        <div class="text-md-right float-md-right pagination-rounded">
            <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="10">
            </ngb-pagination>
        </div>
    </div>
    <!-- End Pagination -->
        </div>
    </div>
</div>