.custom-file-input {
    display: none;
  }
  .upload-img{
    width: 300px;
    height: 300px;
    cursor: pointer;
  } 
  .img_upload{
      text-align: center;
  }
  .top_space{
    padding-top: 40px;
  }
  .upload-img1{
    width: 150px;
    height: 150px;
    cursor: pointer;
  } 
.ban_con_btn{
  margin-top: 28px;
}