<div class="container-fluid">    
<a routerLink="/investors"><app-pagetitle title="Career Page" [breadcrumbItems]="breadCrumbItems"></app-pagetitle></a> 
<ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav-pills nav-justified">
<li [ngbNavItem]="1">
<a ngbNavLink>
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">Career Page Content</span>
</a>
<br>
<ng-template ngbNavContent>
<div class="card">
<div class="card-body">
    <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
<form [formGroup]="addCareer">
<div class="row">
<div class="col-md-12">
    <div class="img_upload">
        <label for="customFile">
        <img class="upload-img" *ngIf="!imagePreview"  src="assets/images/upload_img.png"/>
        <img class="upload-img" *ngIf="imagePreview" src="{{imagePreview}}"/>
        </label>
        <input formControlName="careerImage" type="file" class="custom-file-input" id="customFile" (change)="uploadImageFile($event)">
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label>Heading (EN)</label>
        <input type="text" class="form-control" formControlName="head">
    </div>
    <div class="form-group">
        <label>Advantages (EN)</label>
        <ckeditor [editor]="Editor" formControlName="advantageContent" (ready)="onReady($event)"></ckeditor>
    </div>
    <div class="form-group">
        <label>Benefits (EN)</label>
        <ckeditor [editor]="Editor" formControlName="benifitContent" (ready)="onReady($event)"></ckeditor>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label>Heading (AR)</label>
        <input type="text" class="form-control" formControlName="headAr">
    </div>
    <div class="form-group">
        <label>Advantages (AR)</label>
        <ckeditor [editor]="Editor" formControlName="advantageContentAr" (ready)="onReady($event)"></ckeditor>
    </div>
    <div class="form-group">
        <label>Benefits (AR)</label>
        <ckeditor [editor]="Editor" formControlName="benifitContentAr" (ready)="onReady($event)"></ckeditor>
    </div>
</div>
</div>
<br>
<p class="text-center"><button class="btn btn-primary w-md waves-effect waves-light" (click)="onCarrerUpdate()">Save</button></p>
</form>

</div>
</div>  
</ng-template>
</li>
<li [ngbNavItem]="2">
<a ngbNavLink>
<span class="d-block d-sm-none"><i class="far fa-user"></i></span>
<span class="d-none d-sm-block">Job Openings</span>
</a>
<ng-template ngbNavContent>
<app-jobs></app-jobs>
</ng-template>
</li>
<li [ngbNavItem]="3">
<a ngbNavLink>
<span class="d-block d-sm-none"><i class="far fa-user"></i></span>
<span class="d-none d-sm-block">Candidate List</span>
</a>
<ng-template ngbNavContent>
<div class="card card-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Job Title</label>
                <select class="form-control" (click)="jobclick($event)">
                <option  *ngFor="let item of jobData" value="{{item._id}}">{{item.jobTitle}}</option>
                </select>
                </div>
        </div>
    </div>
   
    <div class="table-responsive">
        <table id="basic-datatable"
        class="table table-bordered dt-responsive nowrap no-footer dtr-inline">
        <thead>
        <tr>
        <th>Job Title</th>
        <th>Job Description</th>
        <th>Job Criteria</th>
        <th>Job Role</th>
        <th>Job Vacancies</th>
        <th>Branch</th>
        </tr>
        </thead>
        <tbody>
        <!-- <tr  *ngFor="let item of contactListData">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.country}}</td>
        <td>{{item.city}}</td>
        <td>{{item.message}}</td>
        <td>{{item.inqueryType}}</td>
        <td>{{item.inqueryMessage}}</td>
        </tr> -->
        </tbody>
        </table>
        </div>
    </div>
</ng-template>
</li>
</ul>
<div [ngbNavOutlet]="justifiednav"></div>    
</div>
