<div class="card card-body">
<div class="row" *ngFor="let item of basicInfoArray">
<div class="col-md-3">
<div class="card card-body">
<h6 class="text-center">Project Image</h6>
<p class="text-center"><img src="{{item.projectImage}}" class="img_size"></p>
</div>
</div>
<div class="col-md-3">
<div class="card card-body">
<h6 class="text-center">Project Title</h6>
<p class="text-center">{{item.title}}</p>
</div>
</div>
<div class="col-md-3">
<div class="card card-body">
<h6 class="text-center">Project Sub-Title</h6>
<p class="text-center">{{item.subTitle}}</p>
</div>
</div>
<div class="col-md-3">
<div class="card card-body">
<h6 class="text-center">Businees Model</h6>
<p class="text-center">
<span *ngIf="isKeepItAll == true">Keep It All</span>
<span *ngIf="isAllorNothing == true">All or Nothing</span>
</p>
</div>
</div>
</div>

<div class="row" *ngFor="let item of basicInfoArray">
<div class="col-md-3">
<div class="card card-body">
<h6 class="text-center">Project Description</h6>
<p class="text-justify">{{item.decription}}</p>
</div>
</div>
<div class="col-md-3">
<div class="card card-body">
<h6 class="text-center">Project Category</h6>
<p class="text-center">{{item.categoryName}}</p>
</div>
</div>
<div class="col-md-3">
<div class="card card-body">
<h6 class="text-center">Project Sub-category</h6>
<p class="text-center">{{item.subCategoryName}}</p>
</div>
</div>
<div class="col-md-3">
<div class="card card-body">
<h6 class="text-center">Goal Amount</h6>
<p class="text-center">{{item.goalAmount}}</p>
</div>
</div>
</div>

<div class="row" *ngFor="let item of basicInfoArray">
    <div class="col-md-3">
    <div class="card card-body">
    <h6 class="text-center">Launch Date</h6>
    <p class="text-center">{{item.launchDate | date}}</p>
    </div>
    </div>
    <div class="col-md-3">
    <div class="card card-body">
    <h6 class="text-center">Campaign Duration</h6>
    <p class="text-center">{{item.campaignDuation | date}}</p>
    </div>
    </div>
    <div class="col-md-3">
    <div class="card card-body">
    <h6 class="text-center">Country</h6>
    <p class="text-center">{{item.country}}</p>
    </div>
    </div>
    <div class="col-md-3">
    <div class="card card-body">
    <h6 class="text-center">City</h6>
    <p class="text-center">{{item.city}}</p>
    </div>
    </div>
    </div>
</div>