<div class="container-fluid">
    <app-pagetitle title="Projects" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    <div class="card card-body">
        <div class="row">
            <div class="col-md-12">
                <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                    class="d-inline-flex align-items-center">Search:
                    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
            </div>
        </div>
    <!-- Table -->
    <div class="table-responsive">
    <table id="basic-datatable"
    class="table table-bordered dt-responsive text-nowrap  no-footer dtr-inline">
    <thead>
    <tr>
    <th>Project Title</th>
    <th>Category</th>
    <th>Launch Date</th>
    <th>User Name</th>
    <th>Goal Amount</th>
    <th>Remaining Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let proj of projectList | filter:searchTerm |slice: (page-1) * 10 : (page-1) * 10 + 10">
    <td><a routerLink="/view-projects/{{proj._id}}">{{proj.title}}</a></td>
    <td>{{proj.basicInfoId.categoryName}}</td>
    <td>{{proj.basicInfoId.launchDate | date}}</td>
    <td><a routerLink="/view-creators/{{proj.userId._id}}">{{proj.userId.userName}}</a></td>
    <td>{{proj.basicInfoId.goalAmount}}</td>
    <td>{{proj.finalDate}} days</td>
    </tr>
    <tr *ngIf="(projectList==null) || (projectList.length == 0)">
        <td class="text-center" colspan="7">
           No Data Found
        </td>
    </tr>
    </tbody>
    </table>
        <!-- Pagination -->
        <div class="col-sm-12 col-md-12">
            <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="10">
                </ngb-pagination>
            </div>
        </div>
        <!-- End Pagination -->
    </div>
    <!-- End table -->
    </div>
    </div>

    