<div class="container-fluid">
    <app-pagetitle title="Bills" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                            class="d-inline-flex align-items-center">Search:
                            <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                                aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="basic-datatable" class="table table-bordered dt-responsive text-nowrap no-footer dtr-inline">
                    <thead>
                        <tr>
                            <th>Invoice No</th>
                            <th>Invoice Date</th>
                            <th>Creator Name</th>
                            <th>Service Type</th>
                            <th>Service Name</th>
                            <th>Sub Amount</th>
                            <th>Due Date</th>
                            <th>Total Amount</th>
                            <th>Payment Status</th>
                            <th>Preview</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let user of billList  | filter:searchTerm |slice: (page-1) * 10 : (page-1) * 10 + 10">
                            <td>{{user.invoiceNo}}</td>
                            <td>{{user.invoiceData | date}}</td>
                            <td><a routerLink="/view-creators/{{user.userId._id}}">{{user.userId.userName}}</a>
                            </td>
                            <td>{{user.serviceType}}</td>
                            <td>
                                <span *ngIf="user.serviceType === 'project'"><a
                                        routerLink="/view-projects/{{user?.projectId?._id}}">{{user?.projectId?.title || 'NA'}}</a></span>
                                <span *ngIf="user.serviceType === 'specialService'"><a
                                        routerLink="/special_requests/{{user?.serviceId}}">{{user?.serviceId || 'NA'}}</a></span>
                            </td>
                            <td>{{user.dueAmount}}</td>
                            <td>{{user.dueDate | date}}</td>
                            <td>{{user.totalAmount}}</td>
                            <td>
                                <span *ngIf="user._isPayed_ == true">Payed</span>
                                <span *ngIf="user._isPayed_ !== true">Not Payed</span>
                            </td>
                            <td>
                                <a routerLink="/invoice_bill/{{user._id}}">Preview</a>
                            </td>
                        </tr>
                        <tr *ngIf="(billList==null) || (billList.length == 0)">
                            <td class="text-center" colspan="10">
                               No Data Found
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="col-sm-12 col-md-12">
                    <div class="text-md-right float-md-right pagination-rounded">
                        <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="10">
                        </ngb-pagination>
                    </div>
                </div>
                <!-- End Pagination -->
            </div>
        </div>
    </div>
</div>