<div class="card">
    <div class="card-body">
        <form [formGroup]="journeyContent">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Heading(EN)</label>
                        <input type="text" class="form-control" formControlName="title">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Heading(AR)</label>
                        <input type="text" class="form-control" formControlName="title_Ar">
                    </div>
                </div>
            </div>
            <br>
            <p *ngIf="showAccept === true" class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light"
                    (click)="onSubmit()">Save</button></p>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <!-- <p class="text-right" *ngIf="showAccept === true">
    <button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addJourney(journeySection)">Add New</button></p> -->
    <!-- Center Modal -->
    <ng-template #journeySection let-modal>
    <div class="modal-header">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
    <form [formGroup]="addJourneyForm">
    <div class="img_upload">
    <label for="customFile">
    <img class="upload-img1" *ngIf="!imagePreview"  src="assets/images/upload_img.png"/>
    <img class="upload-img1" *ngIf="imagePreview" src="{{imagePreview}}"/>
    </label>
    <input formControlName="icon" type="file" class="custom-file-input" id="customFile" (change)="uploadImageFile($event)">
    </div>
    <div class="form-group">
    <label>Box Heading(EN)</label>
    <input type="text" class="form-control" formControlName="header">
    </div>
    <div class="form-group">
        <label>Box Heading(AR)</label>
        <input type="text" class="form-control" formControlName="header_Ar">
        </div>
    <div class="form-group">
    <label>Box Description(EN)</label>
    <textarea class="form-control" formControlName="containerText"></textarea>
    </div>
    <div class="form-group">
        <label>Box Description(AR)</label>
    <textarea class="form-control" formControlName="containerText_Ar"></textarea>
        </div>
    <br>
    <p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="onJourneySubmit()">Save</button></p>
    </form>
    </div>
    </ng-template>
    
    <div class="table-responsive">
    <table id="basic-datatable"
    class="table table-bordered dt-responsive nowrap no-footer dtr-inline">
    <thead>
    <tr>
    <th>Icon</th>
    <th>Box Heading(EN)</th>
    <th>Box Heading(AR)</th>
    <th>Box Description(EN)</th>
    <th>Box Description(AR)</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of journeyBoxData">
    <tr  *ngFor="let items of item.container">
    <td><img src="{{items.icon}}" class="img_size"></td>
    <td>{{items.header}}</td>
    <td>{{items.header_Ar}}</td>
    <td>{{items.containerText}}</td>
    <td>{{items.containerText_Ar}}</td>
    <td>
        <a class="mr-3 text-info" ngbTooltip="Edit" (click)="viewJourneyData(items,journeySection)"><i
            class="mdi mdi-pencil font-size-18"></i></a>
        <a href="javascript:void(0);" class="text-danger" ngbTooltip="Delete" (click)="onDeleteJourney(items._id)"><i
            class="mdi mdi-trash-can font-size-18"></i></a>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>