<div class="card">
<div class="card-body">
<p class="text-right"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addCategory(centerDataModal)">Add New</button></p>
<ng-template #centerDataModal let-modal>
<div class="modal-header">
<button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
</div>
<div class="modal-body">
<form [formGroup]="addNewCategory">
<div class="form-group">
<label>Category Name</label>
<input type="text" class="form-control" formControlName="categorieName">
</div>
<div class="form-group">
<label>Category Description</label>
<textarea class="form-control" formControlName="discription"></textarea>
</div>
<br>
<p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addCategorySubmit()">Save</button></p>
</form>
</div>
</ng-template>
<div class="table-responsive">
<table id="basic-datatable"
class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
<thead>
<tr>
<th>Category Name</th>
<th>Category Description</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let item of categList">
<td>{{item.categorieName}}</td>
<td>{{item.discription}}</td>
<td>
<label class="switch">
    <input *ngIf="item._isOn_ === true"  type="checkbox" checked (change)="onchangeCategStatus($event,item._id)">
    <input *ngIf="item._isOn_ === false" type="checkbox" unchecked (change)="onchangeCategStatus($event,item._id)">
<span class="slider"></span>
</label>    
</td>
<td>
<a class="mr-3 text-info" ngbTooltip="Edit" (click)="viewCategory(item,centerDataModal)"><i
class="mdi mdi-pencil font-size-18"></i></a>
<a class="text-danger text-info" ngbTooltip="Delete" (click)="deleteCateg(item._id)"><i
class="mdi mdi-trash-can font-size-18"></i></a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>