<div class="container-fluid">
<app-pagetitle title="Start a Project Page" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
<div class="col-lg-12">
<div class="row">
<div class="col-md-2">
<div class="card">
<div class="card-body">
<ul ngbNav #verticalNav="ngbNav" [activeId]="1" class="nav-pills flex-column">
<li [ngbNavItem]="1">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">Banner Section</span>
</a>
<ng-template ngbNavContent>
    <app-start-banner></app-start-banner>
</ng-template>
</li>
<li [ngbNavItem]="2">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">Quote Section</span>
</a>
<ng-template ngbNavContent>
<app-quote></app-quote>
</ng-template>
</li>
<li [ngbNavItem]="3">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">Project Q&A Section</span>
</a>
<ng-template ngbNavContent>
<app-project-q></app-project-q>
</ng-template>
</li>
<li [ngbNavItem]="4">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">Video Section</span>
</a>
<ng-template ngbNavContent>
<app-video-section></app-video-section>
</ng-template>
</li>
<li [ngbNavItem]="5">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">Why Fikra Section</span>
</a>
<ng-template ngbNavContent>
<app-why-fikra></app-why-fikra>
</ng-template>
</li>
<li [ngbNavItem]="6">
    <a ngbNavLink class="mb-2">
    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
    <span class="d-none d-sm-block">Creator Handbook Section</span>
    </a>
    <ng-template ngbNavContent>
    <app-handbook></app-handbook>
    </ng-template>
    </li>
</ul>
</div>
</div>
</div>
<div class="col-md-10">

<div [ngbNavOutlet]="verticalNav"></div>

</div>
</div>

</div><!-- End vertical nav tab -->

</div>
</div>