<div class="card">
<div class="card-body">
    <div class="section_show">
        <ul class="sec_show_ul">
            <li class="text">Section Shows in Website</li>
            <li>
                <label class="switch">
                    <input *ngIf="quoteStatus == true"  type="checkbox" checked (change)="onchangeQuoteStatus($event)">
                    <input *ngIf="quoteStatus !== true" type="checkbox" unchecked (change)="onchangeQuoteStatus($event)">
                    <span class="slider"></span>
                </label>
            </li>
        </ul>
    </div>
    <hr>
<form [formGroup]="quote">
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Quote Description (EN)</label>
<textarea class="form-control" formControlName="quotesData"></textarea>
</div>
<div class="form-group">
<label>Author Name (EN)</label>
<input type="text" class="form-control" formControlName="writerName">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>Quote Description (AR)</label>
<textarea class="form-control" formControlName="quotesDataAr"></textarea>
</div>
<div class="form-group">
<label>Author Profile Link</label>
<input type="text" class="form-control" formControlName="writerProfileLink">
</div>
</div>
</div>
<br>
<p class="text-center"><button class="btn btn-primary w-md waves-effect waves-light" (click)="bannerCont()">Save</button></p>

</form>
</div>
</div>