<div class="container-fluid">    
    <div class="card">
    <div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="groupUsers">
                <div class="form-group">
                <label>Select Users</label>
                <ng-select [items]="selectValue" (change)="someChange($event)"
                bindLabel="userName"
                bindValue="userName"
                placeholder="Select Users"
                appendTo="body"
                multiple="true"
                formControlName="querys"
                >
                </ng-select> 
                </div>
                <div class="form-group" *ngIf = "queryContainer">
                    <label for="name">Enter Manual Numbers:</label>
                    <input type="text" class="form-control" formControlName="manualNumbersArray"/>
                </div>
                <div class="form-group">
                    <label>SMS Content</label>
                    <textarea class="form-control" formControlName="message"></textarea>
                </div>
                <br>
                <p *ngIf="showAccept === true" class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addGroupSubmit()">Send SMS</button></p>
                </form>
        </div>
    </div>
    </div>
    </div>
    </div>