<div class="card">
    <div class="card-body">
    <p class="text-right"><a routerLink="/add_handbook" class="btn btn-primary w-md waves-effect waves-light">Add New</a></p>

    
    <div class="table-responsive">
    <table id="basic-datatable"
    class="table table-bordered dt-responsive nowrap  no-footer dtr-inline">
    <thead>
    <tr>
    <th>Image</th>
    <th>Heading(EN)</th>
    <th>Heading(AR)</th>
    <th>Description(EN)</th>
    <th>Description(AR)</th>
    <th>Status</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of handBookData">
    <td><img src="{{item.handbookImg}}" class="img_size"></td>
    <td>{{item.handBookHead}}</td>
    <td>{{item.handBookHeadAr}}</td>
    <td [innerHtml]='item.handBookBody'></td>
    <td [innerHtml]='item.handBookBodyAr'></td>
    <td>
        <label class="switch">
            <input *ngIf="item._is_Visible_ == true"  type="checkbox" checked (change)="onchangeHandbookStatus($event,item._id)">
            <input *ngIf="item._is_Visible_ !== true" type="checkbox" unchecked (change)="onchangeHandbookStatus($event,item._id)">
            <span class="slider"></span>
        </label>
    </td>
    <td>
        <a routerLink="/edit_handbook/{{item._id}}" class="mr-3 text-info" ngbTooltip="Edit"><i
            class="mdi mdi-pencil font-size-18"></i></a>
            <!-- <a class="text-danger" ngbTooltip="Delete" (click)="onDeleteHandbookStatus(true,item._id,item._is_Visible_)"><i
            class="mdi mdi-trash-can font-size-18"></i></a> -->
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>