<div class="card">
    <div class="card-body">
    <p class="text-right"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addService(centerDataModal)">Add New</button></p>
    <ng-template #centerDataModal let-modal>
    <div class="modal-header">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
    <form [formGroup]="addNewService">
    <div class="form-group">
    <label>Service Name</label>
    <input type="text" class="form-control" formControlName="specialReqestName">
    </div>
    <div class="form-group">
    <label>Service Description</label>
    <textarea class="form-control" formControlName="requestDescription"></textarea>
    </div>
    <br>
    <p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click)="addServiceSubmit()">Save</button></p>
    </form>
    </div>
    </ng-template>
    <div class="table-responsive">
    <table id="basic-datatable"
    class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
    <thead>
    <tr>
    <th>Service Name</th>
    <th>Service Description</th>
    <th>Status</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of serviceList">
    <td>{{item.specialReqestName}}</td>
    <td>{{item.requestDescription}}</td>
    <td>
    <label class="switch">
        <input *ngIf="item._is_On_ === true"  type="checkbox" checked (change)="onchangeServiceStatus($event,item._id)">
        <input *ngIf="item._is_On_ === false" type="checkbox" unchecked (change)="onchangeServiceStatus($event,item._id)">
    <span class="slider"></span>
    </label>    
    </td>
    <td>
    <a class="mr-3 text-info" ngbTooltip="Edit"  (click)="viewService(item,centerDataModal)"><i
    class="mdi mdi-pencil font-size-18"></i></a>
    <a class="text-danger text-info" ngbTooltip="Delete" (click)="deleteService(item._id,item._is_On_)"><i
    class="mdi mdi-trash-can font-size-18"></i></a>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>