<div class="container-fluid">
    <app-pagetitle title="Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="row">
        <div class="col-md-12">
            <h5>Pending Project Reviews</h5>
        </div>
    </div>
    <div class="row" *ngIf="delayProjtotal !== 0">
        <div class="col-md-6" *ngFor="let proj of delayProject">
                <ngb-alert [dismissible]="false" type="secondary">
                    Project Title : <a routerLink="/projects/">{{proj.title}}</a>&nbsp;&nbsp;
                    <span>Created Date : {{proj.createdAt | date}}</span>
                </ngb-alert>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xl-7">
            <label>Primary</label>
        </div>
        <div class="col-xl-2">
            <ng-select (change)='statusChangePri($event)' placeholder="Month">
                <ng-option *ngFor="let month of monthList" [value]="month">
                    {{month}}
                </ng-option>
            </ng-select>
        </div>
        <span>Or</span>
        <div class="col-xl-2">
            <ng-select (change)='statusYearPri($event)' placeholder="Year">
                <ng-option *ngFor="let years of yearsList" [value]="years">
                    {{years}}
                </ng-option>
            </ng-select>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-xl-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">Number of Projects</p>
                                <h4 class="mb-0">{{projectCount}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class="fas fa-project-diagram font-size-24"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">No. of Successfull Projects</p>
                                <h4 class="mb-0">{{successProjCount}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class="far fa-check-square font-size-24"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">No. of Unsuccessful Projects</p>
                                <h4 class="mb-0">{{unSuccessProjectCount}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class=" far fa-times-circle font-size-24"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">No. of Pledges</p>
                                <h4 class="mb-0">{{pledgeCount}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class=" fas fa-people-carry font-size-24"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">No. of Special Request</p>
                                <h4 class="mb-0">{{noOfSpecialRequest}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class=" fas fa-user-tag font-size-24"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-body">
                        <div class="media">
                            <div class="media-body overflow-hidden">
                                <p class="text-truncate font-size-14 mb-2">No. of Newsletters</p>
                                <h4 class="mb-0">{{newslettersCount}}</h4>
                            </div>
                            <div class="text-primary">
                                <i class="far fa-newspaper font-size-24"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="card">
                <div class="card-body">
                    <div class="float-right">
                        <select class="custom-select custom-select-sm" (change)="VisitClick($event.target.value)">
                            <option selected value="today">Today</option>
                            <option value="yesterday">Yesterday</option>
                            <option value="todaywith_Searchengine">Today With SearchEngine</option>
                            <option value="last_30_days">Last 30 Days</option>
                            <option value="last_30_with_browser">Last 30 Days With Browser</option>
                            <option value="last_30_with_chrome">Last 30 Days With Chrome</option>
                            <option value="last_30_traffic">Last 30 Days Traffic</option>
                        </select>
                    </div>
                    <h4 class="card-title mb-4">Visitors Count</h4>
                    <div class="media">
                        <div class="media-body overflow-hidden">
                            <p class="text-truncate font-size-14 mb-2">Number of Counts</p>
                            <h4 class="mb-0">{{totVistors}}</h4>
                        </div>
                        <div class="text-primary">
                            <i class="far fa-eye font-size-24"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xl-4">
            <div class="card">
                <div class="card-body" style="height: 23.4pc">
                    <!-- <div class="float-right">
                        <select class="custom-select custom-select-sm">
                            <option selected>Apr</option>
                            <option value="1">Mar</option>
                            <option value="2">Feb</option>
                            <option value="3">Jan</option>
                        </select>
                    </div> -->
                    <h4 class="card-title mb-4">Users Count</h4>

                    <apx-chart class="apex-charts" [series]="usersData ? usersData.series : []"
                        [chart]="usersData ? usersData.chart : []" [legend]="usersData ? usersData.legend : []"
                        [colors]="usersData ? usersData.colors : []" [labels]="usersData ? usersData.labels : []"
                        [dataLabels]="usersData ? usersData.dataLabels : []"
                        [plotOptions]="usersData ? usersData.plotOptions : []">
                    </apx-chart>
                    <div class="row">
                        <div class="col-6">
                            <div class="text-center mt-4">
                                <p class="mb-2 text-truncate"><i
                                        class="mdi mdi-circle text-primary font-size-10 mr-1"></i> No. of Creators
                                </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-center mt-4">
                                <p class="mb-2 text-truncate"><i
                                        class="mdi mdi-circle text-success font-size-10 mr-1"></i> No. of Backers
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-xl-8">
            <label>Secondary</label>
        </div>
        <div class="col-xl-2">
            <ng-select (change)='statusChange($event)' placeholder="Month">
                <ng-option *ngFor="let month of monthList" [value]="month">
                    {{month}}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-xl-2">
            <ng-select (change)='statusYear($event)' placeholder="Year">
                <ng-option *ngFor="let years of yearsList" [value]="years">
                    {{years}}
                </ng-option>
            </ng-select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="float-right d-none d-md-inline-block">
                        <div class="btn-group mb-2">
                            <button type="button" class="btn btn-sm btn-light">Today</button>
                            <button type="button" class="btn btn-sm btn-light active">Weekly</button>
                            <button type="button" class="btn btn-sm btn-light">Monthly</button>
                        </div>
                    </div> -->
                    <h4 class="card-title mb-4">Projects</h4>
                    <div>
                        <apx-chart class="apex-charts" [series]="projectsChart? projectsChart.series : []"
                            [chart]="projectsChart ? projectsChart.chart : []"
                            [plotOptions]="projectsChart ? projectsChart.plotOptions : []"
                            [yaxis]="projectsChart ? projectsChart.yaxis : []"
                            [grid]="projectsChart ? projectsChart.grid : []"
                            [tooltip]="projectsChart ? projectsChart.tooltip : []"
                            [stroke]="projectsChart ? projectsChart.stroke : []"
                            [dataLabels]="projectsChart ? projectsChart.dataLabels : []"
                            [xaxis]="projectsChart ? projectsChart.xaxis : []"
                            [colors]="projectsChart ? projectsChart.colors : []"
                            [fill]="projectsChart ? projectsChart.fill : []">
                        </apx-chart>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Highly Active Creator -->
    <div class="row">
        <div class="col-xl-8">
            <label>Highly Active</label>
        </div>
        <div class="col-xl-2">
            <ng-select (change)='statusChangeActive($event)' placeholder="Month">
                <ng-option *ngFor="let month of monthList" [value]="month">
                    {{month}}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-xl-2">
            <ng-select (change)='statusYearActive($event)' placeholder="Year">
                <ng-option *ngFor="let years of yearsList" [value]="years">
                    {{years}}
                </ng-option>
            </ng-select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Creator - ({{highlyActiveCreator.length || 0}})</h4>
                            <table id="basic-datatable"
                                class="table table-bordered dt-responsive text-nowrap  no-footer dtr-inline">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Creator Name</th>
                                        <th>Created Projects</th>
                                        <th>Email</th>
                                        <!-- <th>Phone</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let creators of CreatorReduce; let i = index">
                                        <td>{{i+1}}</td>
                                        <td><a routerLink="/view-creators/{{ creators._id}}">{{creators.fullName}}</a>
                                        </td>
                                        <td>{{creators._is_Created_Project_Count_}}</td>
                                        <td>{{creators.email.slice(0, 10)}}...</td>
                                        <!-- <td>{{creators.phoneNumber || creators.mobileNumber}}</td> -->
                                    </tr>
                                    <tr *ngIf="(CreatorReduce==null) || (CreatorReduce.length == 0)">
                                        <td class="text-center" colspan="11">
                                            No Data Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-xl-12" style="text-align: center;"
                                *ngIf='CreatorReduce.length != highlyActiveCreator.length'>
                                <button type="button" class="btn btn-sm btn-light"
                                    (click)="paginationNext('creator')">Load More</button>
                            </div>
                            <div class="col-xl-12" style="text-align: center;"
                                *ngIf='CreatorReduce.length == highlyActiveCreator.length'>
                                <button type="button" class="btn btn-sm btn-light"
                                    (click)="paginationLess('creator')">Show Less</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Backers - ({{highlyActiveInvestor.length || 0}})</h4>
                            <table id="basic-datatable"
                                class="table table-bordered dt-responsive text-nowrap  no-footer dtr-inline">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Backer Name</th>
                                        <th>Backed Projects</th>
                                        <th>Email</th>
                                        <!-- <th>Phone</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let Investor of InvestorReduce; let i = index">
                                        <td>{{i+1}}</td>
                                        <td><a routerLink="/view-investors/{{ Investor._id}}">{{Investor.fullName}}</a>
                                        </td>
                                        <td>{{Investor._is_Pledged_Count_}}</td>
                                        <td>{{Investor.email.slice(0, 10)}}...</td>
                                        <!-- <td>{{Investor.phoneNumber || Investor.mobileNumber}}</td> -->
                                    </tr>
                                    <tr *ngIf="(InvestorReduce==null) || (InvestorReduce.length == 0)">
                                        <td class="text-center" colspan="11">
                                            No Data Found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-xl-12" style="text-align: center;"
                                *ngIf='InvestorReduce.length != highlyActiveInvestor.length'>
                                <button type="button" class="btn btn-sm btn-light"
                                    (click)="paginationNext('investor')">Load More</button>
                            </div>
                            <div class="col-xl-12" style="text-align: center;"
                                *ngIf='InvestorReduce.length == highlyActiveInvestor.length'>
                                <button type="button" class="btn btn-sm btn-light"
                                    (click)="paginationLess('investor')">Show Less</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- end row -->

    <!-- end row -->
</div>
