<div class="container-fluid">

<!-- start page title -->
<app-pagetitle title="Terms of Use Editor" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->
<ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav-pills nav-justified">
<li [ngbNavItem]="1">
<a ngbNavLink>
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">English Content</span>
</a>
<br>
<ng-template ngbNavContent>
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-body">
<div *ngFor = "let item of termsList">
<p class="text-right"><button class="btn btn-primary w-md waves-effect waves-light" (click) = "termPrivacy(item)">Edit</button></p>
<form  [formGroup]="addTerms" (ngSubmit)="onSubmit()">
<ckeditor [editor]="Editor" formControlName="termsContent" (ready)="onReady($event)"></ckeditor>
<br>
<div  *ngIf = " isEdit === true ">
<p class="text-center"><button class="btn btn-primary w-md waves-effect waves-light">Save</button></p>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</ng-template>
</li>
<li [ngbNavItem]="2">
<a ngbNavLink>
<span class="d-block d-sm-none"><i class="far fa-user"></i></span>
<span class="d-none d-sm-block">Arabic Content</span>
</a>
<ng-template ngbNavContent>
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-body">
<div *ngFor = "let item of termsList">
<p class="text-right"><button class="btn btn-primary w-md waves-effect waves-light" (click) = "termPrivacy(item)">Edit</button></p>
<form  [formGroup]="addTerms" (ngSubmit)="onSubmit()">
<ckeditor [editor]="Editor" formControlName="termsContent_Ar" (ready)="onReady($event)"></ckeditor>
<br>
<div  *ngIf = " isEdit === true ">
<p class="text-center"><button class="btn btn-primary w-md waves-effect waves-light">Save</button></p>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</ng-template>
</li>
</ul>
<div [ngbNavOutlet]="justifiednav"></div>

</div>