<a routerLink="/">
    <app-pagetitle title="Add New Bill" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
</a>
<div class="card">
    <div class="card-body">
        <form [formGroup]="addNewBill">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Creator Name</label>
                        <input type="text" [disabled]=true class="form-control" value='{{useName}}' />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Select Project</label>
                        <div *ngIf=(projectName)>
                            <input type="text" [disabled]=true class="form-control" value='{{projectName}}' />
                        </div>
                        <div *ngIf=(!projectName)>
                            <ng-select formControlName="projectId" (change)='statusChange()'>
                                <ng-option *ngFor="let subscriber of projectList" [value]="subscriber._id">
                                    {{subscriber.title}}
                                </ng-option>
                            </ng-select>
                            <span *ngIf="status" style='color: brown;'>No project found please add project here!</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="projectFullDetail">
                    <div class="form-group">
                        <label>Business Model</label>
                        <input type="text" [disabled]=true class="form-control"
                            value='{{projectFullDetail._is_All_Nothing_ ? "All or nothing" : "Keep it all"}}' />
                    </div>
                </div>
            </div>
            <br>
            <br>
            <label>Add items</label>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" *ngFor="let comp of includesSeperated; let i=index;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea id='description' value={{comp.description}} [disabled]='includesSeperated.length == i+1 ? false : true' type="text" class="form-control"
                                            (input)='onChangeValue($event, i)'></textarea>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input id='quantity' value={{comp.quantity}} type="number" [disabled]='includesSeperated.length == i+1 ? false : true' class="form-control"
                                            (input)='onChangeValue($event, i)' />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Unit Price</label>
                                        <input id='unitPrice' value={{comp.unitPrice}} type="number" [disabled]='includesSeperated.length == i+1 ? false : true' class="form-control"
                                            (input)='onChangeValue($event, i)' />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Total</label>
                                        <input id='total' value={{comp.total}} [disabled]=true type="number" class="form-control" 
                                        (input)='onChangeValue($event, i)' />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="top_btn">
                                        <a class="text-danger" 
                                        style="margin-right: 20px !important;"
                                            ngbTooltip="Delete" 
                                            (click)="deleteOptions(i)"
                                            *ngIf="includesSeperated.length > 1">
                                            <i class="mdi mdi-trash-can font-size-24"></i>
                                        </a>
                                        <button *ngIf="includesSeperated.length == i+1 && comp.unitPrice" 
                                            class="btn btn-primary"
                                            (click)="addOptions()" 
                                            style="margin-bottom: 10px;"
                                        >Add</button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Due Date</label>
                                <input class="form-control" type="date" id="example-date-input"
                                    formControlName="dueDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Due Amount</label>
                                <input type="text" class="form-control" [value]=dataSeperated.dueAmount readonly/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Processing Fees %</label>
                                <input type="text" class="form-control" formControlName="processing_Fees_Percent" readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Processing Fees Amt</label>
                                <input type="text" class="form-control" [value]=dataSeperated.processing_Fees readonly />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>VAT %</label>
                                <input type="text" class="form-control" formControlName="VAT_Percent" readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>VAT Amt</label>
                                <input type="text" class="form-control" [value]=dataSeperated.VAT readonly />
                            </div>
                        </div>

                        <div class="col-md-3" *ngIf="projectId">
                            <div class="form-group">
                                <label>Payment Model %</label>
                                <input type="text" class="form-control" [value]=dataSeperated.paymentModel_Percent readonly />
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="projectId">
                            <div class="form-group">
                                <label>Payment Model Amt</label>
                                <input type="text" class="form-control" [value]=dataSeperated.paymentModel readonly />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Discount (SAR)</label>
                                <input type="number" class="form-control" id='discount' (focusout)='onChangeDiscount($event)' [value]=dataSeperated.discount/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Total Amount</label>
                                <input class="form-control" type="text" id='totalAmount' value={{dataSeperated.totalAmount}} readonly>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




            <div class="col-md-12">
                <p class="text-center"><button class="btn btn-primary w-md waves-effect waves-light"
                        (click)="onSubmit()">Save</button></p>
            </div>
        </form>
    </div>
</div>