<div class="container-fluid">
    
    <div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-body">
    <div class="row mb-md-2">
    <!-- <div class="col-sm-12 col-md-2">
    <div class="dataTables_length" id="tickets-table_length"><label
    class="d-inline-flex align-items-center">Show
    <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
    [(ngModel)]="pageSize"
    class="custom-select custom-select-sm form-control form-control-sm mx-2">
    <option [ngValue]="10">10</option>
    <option [ngValue]="25">25</option>
    <option [ngValue]="50">50</option>
    <option [ngValue]="100">100</option>
    </select> entries</label></div>
    </div> -->
    <!-- <div class="col-sm-12 col-md-6">
        <div class="form-group row">
            <label for="example-date-input" class="col-md-2 col-form-label text-center">Start Date</label>
            <div class="col-md-4">
              <input class="form-control" type="date"  id="example-date-input">
            </div>
            <label for="example-date-input1" class="col-md-2 col-form-label text-center">End Date</label>
            <div class="col-md-4">
              <input class="form-control" type="date" id="example-date-input1">
            </div>
          </div>
    </div> -->
    <!-- Search -->
    <!-- <div class="col-sm-12 col-md-4">
    <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
    class="d-inline-flex align-items-center">Search:
    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
    aria-controls="tickets-table" [(ngModel)]="searchTerm"></label></div>
    </div> -->
    <!-- End search -->
    <!-- Table -->
    <div class="table-responsive">
    <table id="basic-datatable"
    class="table table-bordered dt-responsive text-nowrap no-footer dtr-inline">
    <thead>
    <tr>
      <th>Title</th>
      <th>Count Allowed</th>
      <th>Amount</th>
      <th>Estimated Delivery</th>
      <th>Shipping Type</th>
      <th>Time Limit</th>
      <th>Description</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of projectList">
      <td>{{user.title}}</td>
      <td>{{user.rewardedCount}}</td>
      <td>{{user.amount}}</td>
      <td>{{user.estimateDelivery}}</td>
      <td>{{user.sippingType}}</td>
      <td>{{user.timeLimit}}</td>
      <td>{{user.description}}</td>

    </tr>
    </tbody> 
    </table>
    <!-- Pagination -->
    <div class="col-sm-12 col-md-5">
    <div class="text-md-right float-md-right pagination-rounded">
    <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination> -->
    </div>
    </div>
    <!-- End Pagination -->
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="row">
        <div class="col-6">
        <div class="card">
        <div class="card-body">
        <div class="row mb-md-2">
       
        <div class="table-responsive">
        <table id="basic-datatable"
        class="table table-bordered dt-responsive text-nowrap no-footer dtr-inline">
        <thead>
        <tr>
          <th>Title</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of projectList">
          <td>{{user.title}}</td>
          <td>{{user.rewardedCount}}</td>
        </tr>
        </tbody> 
        </table>
        <!-- Pagination -->
        <div class="col-sm-12 col-md-5">
        <div class="text-md-right float-md-right pagination-rounded">
        <!-- <ngb-pagination [collectionSize]="total$ | async" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination> -->
        </div>
        </div>
        <!-- End Pagination -->
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </div>