<div class="card">
<div class="card-body">
<form [formGroup]="addFeatured">
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Featured Project Right-side Part(EN)</label>
<textarea class="form-control" formControlName="featurecontent"></textarea>
</div>
<div class="form-group">
<label>Taking Off Right-side Part(EN)</label>

<textarea class="form-control" formControlName="takingOfContent"></textarea>
</div>

</div>
<div class="col-md-6">
<div class="form-group">
<label>Featured Project Right-side Part(AR)</label>
<textarea class="form-control" formControlName="featurecontent_ar"></textarea>
</div>
<div class="form-group">
<label>Taking Off Right-side Part(AR)</label>
<textarea class="form-control" formControlName="takingOfContent_ar"></textarea>
</div>
</div>
</div>
<br>
<p class="text-center"><button type="button" class="btn btn-primary w-md waves-effect waves-light" (click) ="onSubmit()">Save</button></p>    
</form>
</div>
</div>