<div class="container-fluid">
<app-pagetitle title="Home Page" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
<div class="col-lg-12">
<div class="row">
<div class="col-md-2">
<div class="card">
<div class="card-body">
<ul ngbNav #verticalNav="ngbNav" [activeId]="1" class="nav-pills flex-column">
<li [ngbNavItem]="1">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
<span class="d-none d-sm-block">Banner Section</span>
</a>
<ng-template ngbNavContent>
    <app-banner></app-banner>
</ng-template>
</li>
<li [ngbNavItem]="2">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="far fa-user"></i></span>
<span class="d-none d-sm-block">Newsletter Content</span>
</a>
<ng-template ngbNavContent>
    <app-newsletter-content></app-newsletter-content>
</ng-template>
</li>
<li [ngbNavItem]="3">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="far fa-user"></i></span>
<span class="d-none d-sm-block">Featured and Taking off</span>
</a>
<ng-template ngbNavContent>
    <app-featured-takingoff></app-featured-takingoff>
</ng-template>
</li>
<li [ngbNavItem]="4">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="far fa-user"></i></span>
<span class="d-none d-sm-block">Creators Corner</span>
</a>
<ng-template ngbNavContent>
    <app-creators-corner></app-creators-corner>
</ng-template>
</li>
<li [ngbNavItem]="5">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="far fa-user"></i></span>
<span class="d-none d-sm-block">Client Logos</span>
</a>
<ng-template ngbNavContent>
    <app-client-logos></app-client-logos>
</ng-template>
</li>
<li [ngbNavItem]="6">
<a ngbNavLink class="mb-2">
<span class="d-block d-sm-none"><i class="far fa-user"></i></span>
<span class="d-none d-sm-block">Footer Content</span>
</a>
<ng-template ngbNavContent>
    <app-footer-content></app-footer-content>
</ng-template>
</li>
</ul>
</div>
</div>
</div>
<div class="col-md-10">

<div [ngbNavOutlet]="verticalNav"></div>

</div>
</div>

</div><!-- End vertical nav tab -->

</div>
</div>